.post-list {
  list-style: none;
  width: 40%;

  margin-left: auto;
  margin-right: auto;
  min-height: 800px;
  padding: 0;
}
.form {
  margin: auto;
  text-align: end;
}
.form__field > label {
  font-size: 20px;

  padding: 10px;
}
.form__field > input {
  width: 100%;
  height: 100%;
  border: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  padding: 10px;
  margin: auto;
}
.form__field > textarea {
  resize: none;
  border: 0;
  height: 150px;
  width: 100%;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  color: rgb(73, 73, 73);
  padding: 10px;
  margin: auto;
}
.form__field {
  margin: 20px;
  text-align: start;
}
.form__submit {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 12px 36px;
  width: 120px;
  margin: 5px;
  text-align: center;
  background-color: #7f8ff4;
  color: white;
}
.pagination {
  font-size: 25px;
  padding: 40px;
  list-style: none;
  display: flex;
  width: 100px;
  margin: auto;
  gap: 10px;
  justify-content: center;
}
.pagination__item {
  border-radius: 5px;
  background-color: #7f8ff4;
  color: white;
  font-size: 20px;
  user-select: none;
  padding: 7px;
  cursor: pointer;
}
.pagination__item--active {
  background-color: #c3cbff;
}

.pagination-previous,
.pagination-next {
  background-color: #5165eb;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  padding: 7px;
  cursor: pointer;
  user-select: none;
}
.pagination > button {
  border: 0;
  background-color: transparent;
  font-size: 25px;
  cursor: pointer;
}
